
.navbar-brand img{
  width: 50px;
}
#main-title {
  text-align: center;
  margin: 15px 0 30px;
}

/* HOME */
#contacts-table {
  max-width: 800px;
  margin: 0 auto;
}

#contacts-table thead {
  color: #FFF;
  background-color: #007bff;
}

#empty-list-text {
  text-align: center;
}

#msgGreen  {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}
#msgBlue  {
  color: #104abd;
  background-color: #95abdb;
  border: 1px solid #c3e6cb;
  padding: 10px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}
#msgRed  {
  color: #d7282b;
  background-color: #e69696;
  border: 1px solid #c3e6cb;
  padding: 10px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}

.actions {
  text-align: right;
  /* width: 150px; */
  display: flex;
  justify-content: space-evenly;
}
#col-id {
  font-weight: bold;
}

.actions i {
  font-size: 18px;
  margin-right: 5px;
}
.check-icon {
  color: #1e7e34;
}

.edit-icon {
  color: #007bff;
}
.delete-form {
  display: inline-block;
}

.actions button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.delete-icon {
  color: #bd2130;
}

/* PAGE SHOW  */
div#view-contact-container {
  max-width: 500px;
  margin: 0 auto;
}
p.bold {
  font-weight: bold;
}
#back-link-container {
  display: block;
  width: 500px;
  margin: 30px auto 0;
}
#back-btn {
  border: 1px solid #007BFF;
  color: #007bff;
  border-radius: 4px;
  padding: 5px;
}
#back-btn:hover {
text-decoration: none;
}
#create-form,
#edit-form{
  max-width: 500px;
  margin: 0 auto;
}

/* MOBILE */
@media(max-width: 580px) {
  #home-link {
    display: none;
  }
}